@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cyan-gradient: hsl(28, 83%, 61%);
    --blue-gradient: hsl(10, 94%, 60%);
    --body-font: 'Lato';
    --heading-font: 'Lato';
    --padding-container: 60px 0;
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
}

P{
    margin: 10px;
}

  
h1{
    font-weight: 800; 
    font-style: italic;
    
}

body{
    font-family: var(--body-font);
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container) ;
  
}

header{
    height: auto;
    
}	

.menu{
    background-image: url("./images/background_inicio.jpg");
    
    background-size: cover;
    position: relative;
    color: #fff;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

  .menu__main {
    position: relative; 
    z-index: 1; 
    text-align: center;
    padding: 1rem;
  }

.menu__toggle {
    display: block;
    background: none;
    border: none;
    font-size: 5vw;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 1rem; 
  right: 1rem; 
  }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: var(--heading-font);
    background-color: hsl(252, 84%, 24%);
    width: 100%;
    padding: 1rem;
}
.nav__title {
    order: -1;
    font-size: 2em;
    font-weight: 800; 
    font-style: italic;
  }
  

.nav__img{
    width: 100px;
    display: block;
   
}

.nav__links{
    display: none;
    margin-right: 2rem;
    display: none;
    grid-auto-flow: column;
    gap: 1em;
    
}

.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__links.show {
    display: flex;
  }

.nav__link:hover{
    text-decoration: underline;
}
    

.menu__img{
    display: block;
    width: 100%;
    
    margin: 0 auto;
}

.menu__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
    font-size: 3rem;
}

.menu__paragraph{
    line-height: 2;
    margin-bottom: 1.5em;
    font-size: 2rem;
    bottom: 1rem;
   
}

.menu__cta{
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    bottom: 1rem;
}

.menu__cta:hover{
   zoom: 110%;
}

.cards{
    text-align: center;
    display: grid;
    gap: 5em;
    color: #000000;
    font-weight: 500;
}

.cards__img{
    width: 110px;
    height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    stroke: #ff0000;
    stroke-width: 4px;
}

.cards__title{
    font-family: var(--heading-font);
    margin-bottom: 1em;
}

.cards__paragraph{
    line-height: 2;
    margin: 10px 5px 15px 20px;
    padding: 10px;
}

.cards--{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.suscriptions{
    background-color: #15074E;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.suscriptions__title{
    margin-bottom: 4rem;
    color: hsl(0, 0%, 100%);
        font-size: 2em;
    font-weight: 800; 
    font-style: italic;
}
.suscriptions__header{
    color: hsl(0, 0%, 100%);
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suscriptions__toggle{
    margin-top: 2rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
}

.suscriptions__toggle--btn{
    margin: 0 1rem;
}

.checkbox{
    display: none;
}

.sub{
    background: hsl(0, 0%, 0%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle{
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}
.checkbox:checked + .sub{
    justify-content: flex-end;
}

.suscriptions__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.suscriptions__card{
    background-color: #ecca0d;
    color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    
}
.active{
    background: hsl(252, 71%, 40%);
    color: #fff;
    display: flex;
    align-items: center;
  
}
ul{
    padding-right: 2rem;
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}
ul li.price{
    font: 3rem;
    color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
}

.premium{
    background-color: #ff0000;
    box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.1);
}
.card.active .price{
    color: #fff;
}

.testimony {
    position: relative; 
    align-items: center;
    background-color: #D2DADE;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }

  .testimony__header {
    color: hsl(0, 0%, 0%);
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
  }

  .testimony__title {
    font-size: 2em;
    margin-bottom: 2rem;
  }

  .testimony__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1.5em;
    display: inline-block; 
    position: relative; 
    text-align: center;
  }

.testimony__item{
    flex-direction: column;
    text-align: center;
    gap: 1em;
    display: inline-block;
    align-items: center;
    line-height: 2;
 }
.btn{
    margin-top: 1rem;
    height: 2rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    border: 0;
    font-weight: bold;
    background: transparent;
    border: 2px solid #F4F4F4;
    color: hsl(0, 0%, 100%);
}

.active-btn{
    background: transparent;
    border: 2px solid #F4F4F4;
    color: hsl(0, 0%, 100%);
   
}

.card.active .bottom-bar{
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.253);
}

.price{
    font-size: 3rem;
}

.price--active{
    color: #ffffff;
}

.pack{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.join{
    background-image: URL("./images/contactanos_background.jpg");
    padding: 60px 0;
    background-size: 100%;
    position: relative;
    color: #fff;   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.join__container{
    background-color: #15074E;
    padding: 3.5em 2em;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}

.join__title{
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.join__paragraph{
    line-height: 1.5;
    margin-bottom: 1em;
}

.join__form{
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

.join__input, textarea{
    font: inherit;
    padding: 1em 1.4em;
    border-radius: 30px;
    border: none;
    width: 80%;
    align-self: center;
    outline: none;
    resize: none;
}

.join__input--submit{
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: 700;
    width: 200px;
    align-self: center;
    margin-top: 1rem;
    cursor: pointer;
}

.footer{
    color: #000;
    background-color: #f4f4f4;
}

.footer__picture{
    width: 200px;
    margin-bottom: 2.5em;
}

.footer__title{
    text-align: center;
    margin-bottom: 1rem;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.footer__direction{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.footer__direction img {
    margin-right: 5px;
    width: 20px;
    height: auto;
  }

.footer__direction--second{
    margin: 1em 0;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    margin-top: 2em;
}

.footer__link{
    color: #000;
    text-decoration: none;
    font-family: var(--heading-font);
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px; 
  }

.footer__media{
    display: block;
}

.footer__icon{
    height: 25px;
}

.footer__socialicon{
    width: 30px; 
    height: auto;
    margin-right: 10px;
    
}

@media screen and (max-width: 768px) {
    /* Cambios en el menú de navegación */
    .nav__links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav__link {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
  
    /* Ajustes en el tamaño de la imagen de fondo */
    .menu {
        background-size: cover;
    }
  
    /* Ajustes en el diseño de las tarjetas */
    .cards{
        grid-template-columns: 1fr;
        gap: 3em;
    }

    /* Ajustes en el diseño de la sección de testimonios */
    .testimony__item{
        width: 100%;
    }

    /* Ajustes en el tamaño de la imagen en testimonios */
    .testimony__img {
        max-width: 100%;
        
    }
}


  
@media (min-width:768px) {

 
    .menu__toggle {
        display: none;
      }
    
      .nav__links {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    
    .cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3em 4em;
    }

    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: center;
    }

    .about__title{
        font-size: 2rem;
    }

    .testimony{
        justify-content: space-between;
    }

    .testimony__item{
        width: 30%;
    }

    .join__container{
        max-width: 800px;
    }

    .join__form{
        padding-top: 1em;
        grid-template-columns: 1fr max-content;
    }

    .footer__content{
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
        color: #000000;
    }

    .footer__contact{
        max-width: 200px;
    }

    .footer__nav{
        margin-top: 0;
    }

    .footer__social{
        margin: 0;
    }

    .footer__direction--first{
        max-width: 300px;
    }

    .footer__direction--second{
        margin: 0 0 1em;
    }

    .footer__socialMedia {
        margin-top: 5px;
        
      }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .testimony__img {
      max-width: 100%;
      
    }
    header{
        height: 200%;
    }

  }

