@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cyan-gradient: hsl(28, 83%, 61%);
    --blue-gradient: hsl(10, 94%, 60%);
    --body-font: 'Lato';
    --heading-font: 'Lato';
    --padding-container: 60px 0;
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
}

P{
    margin: 10px;
}
h1{
    font-size: 2em;
    font-weight: 800; 
    font-style: italic;
}

body{
    font-family: var(--body-font);
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container) ;
  
}

header{
    height: 100vh;
    
}	

.hero{
    background-image: url("./images/background_inicio.jpg");
    max-width: 100%;
    max-height: 100%;
    background-size: 100%;
    position: relative;
    color: #fff;   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.nav{
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
    background-color: hsl(252, 84%, 24%);
    width: 100%;
    display: flex;
    padding: 1rem;
}

.nav__img{
    width: 100px;
    display: block;
   
}

.nav__links{
    margin-left: auto;
    margin-right: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav__link{
    color: #fff;
    text-decoration: none;
}

.hero__main{
    text-align: center;
}

.hero__img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
    
}

.hero__paragraph{
    line-height: 2;
    margin-bottom: 1.5em;
    font-size: 24px;
    bottom: 1rem;
}

.hero__cta{
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    bottom: 1rem;
}
